/*
======================================
サイト全般レイアウト
======================================
*/
/*リセットCSS*/
*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: rgba(0,0,0,0.87);
}
.site-width{
    width: 100vw;
}

#main{
/*    background-color: #1BE7FF;*/
    background-color: #F9C80E;

}


/*
======================================
初期画面
======================================
*/
.initial-screen h1{
    font-size: 5vw;
}

/*
======================================
キャラクター選択画面
======================================
*/

.characters-select-area h1{
    font-size: 5vw;
}


.characters-select-area img{
    width: 100%;
/*    height: 100%;*/
}

.character-area{
    float: left;
}

input[type=radio] {
    display: none;
}

.panel-ceo{
    width: 33vw;
    display: block;
    float: left;
    box-sizing: border-box;
}

#container-top-characters{
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}

#container-bottom-characters{
    margin: 0 auto;
    width: 66vw;
    overflow: hidden;
}

.btn{
    width: 50vw;
    background-color: yellow;
    margin: 0 auto;
    display: block;
    font-size: 6vw;
}


.js-panel-select{
    border: 5px rgba(0,0,0,0) solid;
}

.js-btn-prohibid{
    background-color: #919191;
}
/*

.js-btn-permit{
    background-color: ;

}
*/

/*
======================================
メインゲーム画面
======================================
*/

.container-game-area h1{
    font-size: 5vw;
}

/*ステータスエリア*/
.ceo-status-area{
    overflow: hidden;
}

.ceo-status-area img{
    width: 25%;
    float: left;
}

.ceo-status-area .status-area{
    float: left;
}

.status-area-top{
    overflow: hidden;
}

.status-area-top div{
    float: left;
}



/*メッセージエリア*/
.message-area{
    background-color: gray;
    height: 40vw;
    overflow: scroll;
}

.message-area p{
    font-size: 3.5vw;
    -webkit-text-size-adjust:100%;


}
/*コマンドエリア*/
.container-command .btn{
    width: 20vw;
    font-size: 3.5vw;
}

.container-command form{
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
}

.container-command input{
    float: left;
}

/*モンスターエリア*/

.monster-area .monster-form-container{
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
}
.monster-form-container form{
    width: 30vw;
    float: left;
    position: relative;
/*
    overflow: hidden;
    margin: 0 auto;
*/
}
.monster-form-container input{
/*    float: left;*/
    width: 30vw;
    height: 30vw;
    display: block;
    background-color: aqua;
    opacity: 0;
    position: absolute;
    top:0;
    z-index: 2;
}

.monster-form-container img{
    /*    float: left;*/
    width: 30vw;
    height: 30vw;
    /*    display: block;*/
    position: relative;
    top: 0;
    z-index: 1;
}

.monster-area .monster-hp{
    width: 100%;
    font-size: 2vw;

/*    float: left;*/
}


/*ジョブエリア*/

.job-area .job-form-container{
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
}

.job-form-container form{
    width: 30vw;
    float: left;
    position: relative;

}

.job-form-container input{
    width: 30vw;
    height: 30vw;
    display: block;
    background-color: aqua;
    opacity: 0;
    position: absolute;
    top:0;
    z-index: 2;

}

.job-form-container img{
    /*    float: left;*/
    width: 30vw;
    height: 30vw;
    /*    display: block;*/
    position: relative;
    top: 0;
    z-index: 1;
}

.job-area .job-volume{
    width: 100%;
    font-size: 2vw;
}
/*
======================================
フッター
======================================
*/

footer{
    background-color: #965E0C;
}
